apiVersion: v1
kind: Config
clusters:
- name : local
  cluster:
   server: https://{{ groups['master'][0] }}:443
   certificate-authority: /etc/kubernetes/ssl/ca.pem
users:
- name : master-kubelet
  user:
    client-certificate: /etc/kubernetes/ssl/kubelet.pem
    client-key: /etc/kubernetes/ssl/kubelet-key.pem
contexts:
- context:
    cluster: local
    user: master-kubelet
  name: kubelet-context
current-context: kubelet-context
