[Unit]
Description=etcd key-value store
Conflicts=etcd.service
After=network.target

[Service]
Type=notify
User=etcd
Environment=ETCD_NAME=%H
Environment=ETCD_DATA_DIR=/var/lib/etcd
Environment=ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379,http://0.0.0.0:4001
{% if etcd_member is defined and etc_member == 'y' %}
Environment=ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster-1
Environment=ETCD_INITIAL_ADVERTISE_PEER_URLS=http://{{ groups['master'][0] }}:2380
Environment=ETCD_LISTEN_PEER_URLS=http://{{ groups['master'][0] }}:2380,http://{{ groups['master'][0] }}:7001
Environment=ETCD_ADVERTISE_CLIENT_URLS=http://{{ groups['master'][0] }}:2379
Environment=ETCD_INITIAL_CLUSTER_STATE=new
{% else %}
Environment=ETCD_PROXY=on
{% endif %}
Environment=ETCD_INITIAL_CLUSTER={{ groups['master'][0] }}=http://{{ groups['master'][0] }}:2380
ExecStart=/usr/bin/etcd
Restart=always
RestartSec=10s
LimitNOFILE=40000
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
