[Unit]
Description=etcd key-value store
Conflicts=etcd.service
After=network.target

[Service]
Type=notify
User=etcd
Environment=ETCD_NAME=%H
Environment=ETCD_DATA_DIR=/var/lib/etcd
Environment=ETCD_LISTEN_CLIENT_URLS=http://{{ ansible_default_ipv4.address }}:2379,http://127.0.0.1:2379
{% if etcd_member is defined and etcd_member == 'y' %}
Environment=ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster-1
Environment=ETCD_INITIAL_ADVERTISE_PEER_URLS=http://{{ inventory_hostname }}:2380
Environment=ETCD_LISTEN_PEER_URLS=http://{{ ansible_default_ipv4.address }}:2380
Environment=ETCD_ADVERTISE_CLIENT_URLS=http://{{ inventory_hostname }}:2379
Environment=ETCD_INITIAL_CLUSTER_STATE=new
{% else %}
Environment=ETCD_PROXY=on
{% endif %}
Environment=ETCD_INITIAL_CLUSTER={% for host in groups['all'] -%}
    {% if hostvars[host]['etcd_member'] is defined and hostvars[host]['etcd_member'] == 'y' -%}
        {{ host }}=http://{{ host }}:2380
        {% if loop.last -%}
        ,{{ host }}=http://{{ host }}:2380
        {%- endif %}
        {%- endif %}
    {%- endfor %}

ExecStartPre=/bin/rm -rf /var/lib/etcd/*
ExecStart=/usr/bin/etcd

Restart=always
RestartSec=10s
LimitNOFILE=40000
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
