# /usr/lib/systemd/system/flanneld.service
[Unit]
Description=Flanneld overlay address etcd agent
After=network.target
After=network-online.target
Wants=network-online.target
After=etcd.service
Before=docker.service

[Service]
Type=notify
RestartSec=5
EnvironmentFile=/etc/sysconfig/flanneld
EnvironmentFile=-/etc/sysconfig/docker-network

{% if kube_master is defined and kube_master == 'y' %}
ExecStartPre=/usr/bin/etcdctl set /flannel/network/config '{ "Network": "10.1.0.0/16", "Backend": {"Type": "{{ flannel_backend }}" }}'
{% endif %}

ExecStart=/usr/bin/flanneld -etcd-endpoints=http://{{ ansible_default_ipv4.address }}:2379,http://127.0.0.1:2379 -etcd-prefix=/flannel/network $FLANNEL_OPTIONS -iface={{ ansible_default_ipv4.alias }}

ExecStartPost=/usr/libexec/flannel/mk-docker-opts.sh -k DOCKER_NETWORK_OPTIONS -d /run/flannel/docker
Restart=always

[Install]
WantedBy=multi-user.target
RequiredBy=docker.service
