bootstrapper: 192.168.8.101
subnet: 192.168.8.0
netmask: 255.255.255.0
iplow: 192.168.8.201
iphigh: 192.168.8.220
routers: [192.168.8.101]
broadcast: 192.168.8.255
nameservers: [192.168.8.101, 8.8.8.8, 8.8.4.4]
domainname: "k8s.baifendian.com"
dockerdomain: "bootstrapper"
k8s_service_cluster_ip_range:192.168.0.0/24
k8s_cluster_dns: 192.168.0.10
hyperkube_version: "v1.3.6"
pause_version: "3.0"
flannel_version: "0.5.5"

nodes:
  - mac: "08:00:27:4a:2d:a1"
    ceph_monitor: n
    kube_master: y
    etcd_member: y

ssh_authorized_keys: |1+
    - "<SSH_KEY>"

